/* Cancelations */
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a img {
    border: none; }

ul, ol {
  list-style: none; }

/* Layout */
.right {
  float: right; }

.left {
  float: left; }

.clr {
  clear: both; }

#contentWrapper {
  width: 780px;
  margin: 0 auto; }

/* General */
#blah {
  font-weight: bold; }

/* hdr */
/* topNav */
/* main */
/* rinfo */
#rinfo {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #000; }

/* tagCloud */
#tagCloud {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #000; }

/* ftr */
